body {
margin: 0;
padding: 0;
color: #551A8B;
/*background-color: #E0E0E0;*/
background-color: #FAFAFA;
}
h1 {
padding: 0 1em;
color: #FFFFFF;
}
form {
padding: 0.5em 2em;
background-color: #F5FFFA;
}
textarea {
border: 0;
border-radius: 5px;
background-color: #9D9D9D;
width: 355px;
height: 100px;
padding: 10px;
resize: none;
}
.main {
padding: 0;
}
.entries-area {
padding: 0.5em 2em;
background-color: #F4F4F4;
border-radius: 15px;
}
.entries-area p {
padding: 0.5em 1em;
background-color: #F0F8FF;
white-space: pre-wrap;
}

a:link{		/*默认状态*/
    color: black;
}
a:visited{	/*浏览过的*/
    color:darkgrey;
}
a:hover{	/*悬浮状态*/
    color:yellow;
}
a:active{	/*激活过的*/
    color: red;
}