/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/pythonDemo.iml
/.idea/vcs.xml
/.idea/workspace.xml
*.pyc
*.log
*.pkl
*.csv
*.mp4
*.avi
*.rmvb