body {
margin: 0;
padding: 0;
color: #551A8B;
background-color: #E0E0E0;
}
h1 {
padding: 0 1em;
color: #FFFFFF;
}
form {
padding: 0.5em 2em;
background-color: #F5FFFA;
}
textarea {
background-color: #F5FFFA;
white-space: pre-wrap;
}
.main {
padding: 0;
}
.entries-area {
padding: 0.5em 2em;
background-color: #F4F4F4;
}
.entries-area p {
padding: 0.5em 1em;
background-color: #F0F8FF;
}