body {
margin: 0;
padding: 0;
color: #551A8B;
/*background-color: #E0E0E0;*/
background-color: #FAFAFA;
}
h1 {
padding: 0 1em;
color: #FFFFFF;
}
form {
padding: 0.5em 2em;
background-color: #F5FFFA;
}
textarea {
border: 0;
border-radius: 5px;
background-color: #9D9D9D;
width: 355px;
height: 100px;
padding: 10px;
resize: none;
}
.main {
padding: 0;
}
.entries-area {
padding: 0.5em 2em;
background-color: #F4F4F4;
border-radius: 15px;
}
.entries-area p {
padding: 0.5em 1em;
background-color: #F0F8FF;
white-space: pre-wrap;
}
.btn-style-01{
    border-style:none;
    padding:8px 30px;
    line-height:24px;
    color:#fff;
    font:16px "Microsoft YaHei", Verdana, Geneva, sans-serif;
    cursor:pointer;
    border:1px #ae7d0a solid;
    -webkit-box-shadow:inset 0px 0px 1px #fff;
    -moz-box-shadow:inset 0px 0px 1px #fff;
    box-shadow:inset 0px 0px 1px #fff;/*内发光效果*/
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;/*边框圆角*/
    text-shadow:1px 1px 0px #b67f01;/*字体阴影效果*/
    background-color:#feb100;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#feb100), to(#e8a201));
    background-image: -webkit-linear-gradient(top, #feb100 0%, #e8a201 100%);
    background-image: -moz-linear-gradient(top, #feb100 0%, #e8a201 100%);
    background-image: -ms-linear-gradient(top, #feb100 0%, #e8a201 100%);
    background-image: -o-linear-gradient(top, #feb100 0%, #e8a201 100%);
    background-image: linear-gradient(top, #feb100 0%, #e8a201 100%);/*颜色渐变效果*/
}
.btn-style-01:hover {
    background-color:#e8a201;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#e8a201), to(#feb100));
    background-image: -webkit-linear-gradient(top, #e8a201 0%, #feb100 100%);
    background-image: -moz-linear-gradient(top, #e8a201 0%, #feb100 100%);
    background-image: -ms-linear-gradient(top, #e8a201 0%, #feb100 100%);
    background-image: -o-linear-gradient(top, #e8a201 0%, #feb100 100%);
    background-image: linear-gradient(top, #e8a201 0%, #feb100 100%);
}

textarea {
    border: 0;
    border-radius: 20px;
    background-color:rgba(241,241,241,.98);
    width: 640px;
    height: 120px;
    padding: 10px;
    resize: none;
}

.label-liuyan{
    color: #898989;
    padding: 0 20px;
}

a:link{		/*默认状态*/
    color: black;
}
a:visited{	/*浏览过的*/
    color:darkgrey;
}
a:hover{	/*悬浮状态*/
    color:yellow;
}
a:active{	/*激活过的*/
    color: red;
}