<?xml version  = "1.0" encoding  = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lewic.mapper.TeacherMapper">

    <resultMap id="Teacher" type="com.lewic.entity.Teacher">
        <result column="tid" jdbcType="VARCHAR" property="tid"/>
        <result column="tname" jdbcType="VARCHAR" property="name"/>
        <collection column="students" property="students" ofType="com.lewic.entity.Student">
            <result column="sid" jdbcType="NUMERIC" property="sid"/>
            <result column="sname" jdbcType="VARCHAR" property="name"/>
            <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        </collection>
    </resultMap>

    <select id="listTeacher" resultMap="Teacher">
        SELECT t1.id tid,
        t1.name tname,
        t3.id sid,
        t3.name sname,
        t3.mobile
        FROM (SELECT *
        FROM teacher
        WHERE 1 = 1
        <if test="name != null and name != ''">
            AND name like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        ORDER BY id
        <if test="page != null">
            limit #{page.startRow,jdbcType  = INTEGER},#{page.pageSize,jdbcType  = INTEGER}
        </if>
        ) t1
        LEFT JOIN tea_2_stu t2 ON t1.id = t2.tid
        LEFT JOIN student t3 ON t3.id = t2.sid
        ORDER BY tid
    </select>

    <select id="getTeacher" resultMap="Teacher">
        SELECT t1.id   tid,
               t1.name tname,
               t2.id   sid,
               t2.name sname,
               t2.mobile
        FROM (SELECT *
              FROM teacher
              WHERE id = #{tid,jdbcType=INTEGER}
             ) t1
                 LEFT JOIN tea_2_stu t2 ON t1.id = t2.tid
                 LEFT JOIN student t3 ON t3.id = t2.sid

    </select>

    <select id="getTeacherCount" resultType="java.lang.Integer">
        SELECT count(id)
        FROM teacher
    </select>

    <select id="getTeacherFilterCount" resultType="java.lang.Integer">
        SELECT
        count(id)
        FROM
        teacher
        WHERE
        1=1
        <if test="name != null and name != ''">
            AND name like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
        </if>
    </select>

    <insert id="insertTeacher" parameterType="com.lewic.entity.Teacher"
            useGeneratedKeys="true"
            keyProperty="tid">
        INSERT INTO teacher (name
        )
        VALUES (#{name,jdbcType=VARCHAR})
    </insert>

    <update id="updateTeacher" parameterType="com.lewic.entity.Teacher">
        UPDATE teacher
        SET name = #{name,jdbcType=VARCHAR}
        WHERE id = #{tid,jdbcType  = NUMERIC}
    </update>

    <delete id="deleteTeacher" parameterType="java.lang.String">
        DELETE
        FROM teacher
        WHERE id IN
        <foreach collection="tids" item="tid" separator="," open="(" close=")">
            #{tid,jdbcType=NUMERIC}
        </foreach>
    </delete>
</mapper>