<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.hoperun.mapper.RuleDetailMapper">

    <resultMap id="RuleDetail" type="com.sc.hoperun.entity.RuleDetail">
        <result column="id" jdbcType="VARCHAR" property="ruleId"/>
        <result column="rule_name" jdbcType="VARCHAR" property="ruleName"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <select id="listRuleDetail" resultMap="RuleDetail">
        SELECT
        id,
        rule_name,
        description
        FROM
        rule_detail
        ORDER BY
        id
        <if test="page!=null">
            limit #{page.startRow,jdbcType=INTEGER},#{page.pageSize,jdbcType=INTEGER}
        </if>
    </select>

    <select id="getRuleDetail" resultMap="RuleDetail">
        SELECT
        id,
        rule_name,
        description
        FROM
        rule_detail
        where 1=1
        <if test="ruleId!=null and ruleId!=''">
            AND id=#{ruleId,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="getRuleDetailCount" resultType="java.lang.Integer">
        SELECT count(id)
        FROM rule_detail
    </select>

    <insert id="insertRuleDetail" parameterType="com.sc.hoperun.entity.RuleDetail">
        INSERT INTO rule_detail (rule_name,
                                 description)
        VALUES (#{ruleName,jdbcType=VARCHAR},
                #{description,jdbcType=VARCHAR})
    </insert>

    <update id="updateRuleDetail" parameterType="com.sc.hoperun.entity.RuleDetail">
        UPDATE rule_detail
        SET rule_name      = #{ruleName,jdbcType=VARCHAR},
            description    = #{description,jdbcType=VARCHAR}
        WHERE id = #{ruleId,jdbcType=VARCHAR}
    </update>

    <delete id="deleteRuleDetail" parameterType="java.lang.String">
        DELETE
        FROM rule_detail
        WHERE id = #{ruleId,jdbcType=VARCHAR}
    </delete>
</mapper>