<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>message board</title>
</head>
<body>
<form action="message_sub" method="post">
    <div>
        <label>用户:</label>
        <input type="text" name="username">
        <br><br>
    </div>
    <div>
        <label>留言板:</label><br>
        <textarea rows="8" cols="40" name="context">
        </textarea>
    </div>

    <div>
        <script>
        var myDate = new Date()
        time = myDate.getTime()
        document.write(time)


        </script>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" value="发表" align="right">
    </div>
</form>
<br>
<script>
    var cars = [1,2,2,3,6,8,23,1,4,5,4,234,1,]
    for(var i=0;i<cars.length;i++){
        document.write("<hr>")
        document.write("<div><h4>name</h4><p>time</p></div>")
        document.write("<br>")
        document.write("<p>message</p>")
    }


</script>
</body>
</html>
