<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.hoperun.mapper.AlertMapper">

    <resultMap id="Alert" type="com.sc.hoperun.entity.Alert">
        <result column="id" jdbcType="VARCHAR" property="alertId"/>
        <result column="alert_name" jdbcType="VARCHAR" property="alertName"/>
        <result column="severity_level" jdbcType="VARCHAR" property="severityLevel"/>
        <result column="rule_type" jdbcType="VARCHAR" property="ruleType"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="clients" jdbcType="VARCHAR" property="clients"/>
        <result column="trigger_time" jdbcType="VARCHAR" property="triggerTime"/>
    </resultMap>

    <select id="listAlert" resultMap="Alert">
        SELECT
        id,
        alert_name,
        severity_level,
        rule_type,
        description,
        clients
        FROM
        alert
        WHERE
        1=1
        ORDER BY
        id
        <if test="page !=null">
            limit #{page.startRow,jdbcType=INTEGER},#{page.pageSize,jdbcType=INTEGER}
        </if>
    </select>

    <select id="getAlert" resultMap="Alert">
        SELECT
        id,
        alert_name,
        severity_level,
        rule_type,
        description,
        clients
        FROM
        alert
        where 1=1
        <if test="alertId !=null and alertId !=''">
            AND id=#{alertId,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="getAlertCount" resultType="java.lang.Integer">
        SELECT count(id)
        FROM alert
    </select>

    <insert id="insertAlert" parameterType="com.sc.hoperun.entity.Alert">
        INSERT INTO alert (alert_name,
                           severity_level,
                           rule_type,
                           description,
                           clients,
                           trigger_time)
        VALUES (#{alertName,jdbcType=VARCHAR},
                #{severityLevel,jdbcType=NUMERIC},
                #{ruleType,jdbcType=VARCHAR},
                #{description,jdbcType=VARCHAR},
                #{clients    ,jdbcType=VARCHAR},
                #{triggerTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="updateAlert" parameterType="com.sc.hoperun.entity.Alert">
        UPDATE alert
        SET alert_name     = #{alertName,jdbcType=VARCHAR},
            severity_level = #{severityLevel,jdbcType=NUMERIC},
            rule_type      = #{ruleType,jdbcType=VARCHAR},
            description    = #{description,jdbcType=VARCHAR},
            clients        = #{clients,jdbcType=VARCHAR},
            trigger_time   = #{triggerTime,jdbcType=TIMESTAMP}
        WHERE id = #{alertId,jdbcType=VARCHAR}
    </update>

    <delete id="deleteAlert" parameterType="java.lang.String">
        DELETE
        FROM alert
        WHERE id = #{alertId,jdbcType=VARCHAR}
    </delete>
</mapper>